.autocomplete-container {
  position: relative;

  input[type="text"] {
    font-family: "Figtree";
    background-color: #f4f4f4;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 42px 12px 12px;
    width: calc(100% - 54px);
  }

  svg {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
